@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Source Serif Pro', serif;
}
body{
    background-color: #aeb3b8!important;
    color: black!important;
    
}

.square-box{
    height: auto;
    width: 450px;
    position: absolute;
    left: 50%;
    margin-top: 60px;
    background-color: white!important;
    transform: translateX(-50%);
    border: 2px  transparent;
    padding: 60px;
}
.nav-tabs{
    --bs-nav-tabs-border-color: black!important;
}
.choice span{
    margin: 0 10px 0 0;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: black!important;
}
.active{
    border-color: black!important;
    border-bottom: none!important;
}
.Not-visible{
    display: none;
}
@media  (max-width:450px) {
    .square-box{
        width: 100%;
        padding-left: 30px;
        padding-right: 10px;
    }
}